
@{
    ViewBag.Title = "RootRetailerBySpecified";
}

<script src="~/Scripts/Core/Core.js"></script>
<script src="~/Scripts/Home/RootRetailerBySpecifiedVew.js"></script>

<h2>RootRetailerBySpecified</h2>

<div class="form-group">
    <label class="control-label col-md-2">Select root retailer</label>
    <div class="col-md-10" id="retailers">

    </div>
</div>
<br />
<img src="~/Images/loading.gif" id="load" style="display:none; margin: 0 auto" alt="Alternate Text" />

<br />
<br />
<div class="form-group">
    <label class="control-label col-md-2">Root retailer</label>
    <div class="col-md-10" id="rootRetailer">

    </div>
</div>
<br />