
@{
    ViewBag.Title = "ContractByRootRetailers";
}

<script src="~/Scripts/Core/Core.js"></script>
<script src="~/Scripts/Contract/ContractByRootRetailersView.js"></script>

<h2>ContractByRootRetailers</h2>

<div class="form-group">
    <label class="control-label col-md-2">Select root retailer</label>
    <div class="col-md-10" id="rootSelectRetailer">

    </div>
</div>
<br />
<img src="~/Images/loading.gif" id="load" style="display:none; margin: 0 auto" alt="Alternate Text" />

<br /><br />
<div class="form-group">
    <label class="control-label col-md-2">Contracts</label>
    <div class="col-md-10" id="rootContracts" style="margin-bottom:20px;">

    </div>
</div>