
@{
    ViewBag.Title = "ContractByRetailers";
}

<script src="~/Scripts/Core/Core.js"></script>
<script src="~/Scripts/Contract/ContractByRetailersView.js"></script>

<h2>ContractByRetailers</h2>

<div class="form-group">
    <label class="control-label col-md-2">Select retailer</label>
    <div class="col-md-10" id="retailer">

    </div>
</div>

<br /><br />
<img src="~/Images/loading.gif" id="load" style="display:none; margin: 0 auto" alt="Alternate Text" />
<br /><br />
<div class="form-group">
    <label class="control-label col-md-2">Contracts</label>
    <div class="col-md-10" id="retailersContracts" style="margin-bottom:20px;">

    </div>
</div>