
@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/Core/Core.js"></script>
<script src="~/Scripts/Home/HomeView.js"></script>

<h2>Index</h2>

<a href="/Contract/EnterContract"><input type="button" class="btn btn-default" value="Enter into a contract" style="margin-bottom:20px"/></a>
<a href="/Contract/ContractByRootRetailers"><input type="button" class="btn btn-default" value="Contract By Root Retailers" style="margin-bottom:20px" /></a>
<a href="/Contract/ContractByRetailers"><input type="button" class="btn btn-default" value="Contract By Retailers" style="margin-bottom:20px" /></a>
<a href="/Home/RootRetailerBySpecified"><input type="button" class="btn btn-default" value="Root Retailer By Specified" style="margin-bottom:20px" /></a>
<a href="/Home/AddRetailer"><input type="button" class="btn btn-default" value="Add Retailer" style="margin-bottom:20px" /></a>
<a href="/Home/AddAffiliatedRetailers"><input type="button" class="btn btn-default" value="Add Affiliated Retailers" style="margin-bottom:20px" /></a>
<a href="/Contract/Contracts"><input type="button" class="btn btn-default" value="Contracts" style="margin-bottom:20px" /></a>

<img src="~/Images/loading.gif" id="load" style="display:none; margin: 0 auto" alt="Alternate Text" />

<div id="homeContent">

</div>
